*.db
*db-wal
*db-shm
*.sql
*_bytes.go
_test*
dist
*.sql
./gonic
.devcontainer
.vscode
*.swp
.tags*
*.test
cache/*.png
cache/*.jpg
cache/*.webp
./substream
substream
.fuse*
*.pem
substream_linux
*.key
.env
config
genre-tree
