{{ component "layout" . }}
{{ component "layout_user" . }}

{{ component "block" (props .
    "Icon" "chart-pie"
    "Name" "stats"
    "Desc" "saved metrics in the local database"
) }}
    <div class="grid grid-cols-[auto_min-content] gap-2 gap-x-5 text-right">
        <div class="text-gray-500">albums</div>
        <div class="font-bold">{{ .Stats.Albums }}</div>
        <div class="text-gray-500">artists</div>
        <div class="font-bold">{{ .Stats.Artists }}</div>
        <div class="text-gray-500">tracks</div>
        <div class="font-bold">{{ .Stats.Tracks }}</div>
    </div>
{{ end }}

{{ component "block" (props .
    "Icon" "users"
    "Name" "user management"
    "Desc" "manage user accounts for subsonic api and web interface access"
) }}
<div class="grid grid-cols-[repeat(3,auto)_max-content] md:grid-cols-[auto_repeat(5,min-content)] gap-2 gap-x-5 items-center text-right">
    {{ range $user := .AllUsers }}
        <div class="col-span-3 md:col-auto ellipsis">{{ $user.Name }}</div>
        <div class="text-gray-500 whitespace-nowrap">{{ $user.CreatedAt | date }}</div>
        {{ component "link" (props . "To" (printf "/admin/change_username?user=%s" $user.Name | path)) }}username{{ end }}
        {{ component "link" (props . "To" (printf "/admin/change_password?user=%s" $user.Name | path)) }}password{{ end }}
        {{ component "link" (props . "To" (printf "/admin/change_avatar?user=%s" $user.Name | path)) }}avatar{{ end }}
        {{ if $user.IsAdmin }}
            <div class="text-gray-500">delete<span class="hidden md:inline">&#8230;</span></div>
        {{ else }}
            {{ component "link" (props . "To" (printf "/admin/delete_user?user=%s" $user.Name | path)) }}delete{{ end }}
        {{ end }}
    {{ end }}
    {{ if .User.IsAdmin }}
        <div class="col-span-full">{{ component "link" (props . "To" (path "/admin/create_user")) }}create new{{ end }}</div>
    {{ end }}
</div>
{{ end }}



{{ component "block" (props .
    "Icon" "lastfm"
    "Name" "last.fm"
    "Desc" "scrobble to last.fm on a per user basis"
) }}
    <div class="flex flex-col gap-2 items-end">
        {{ if .User.LastfmSession }}
            <p class="text-gray-500">current status <span class="font-bold text-green-500">linked</span></p>
            <form class="contents" action="{{ path "/admin/unlink_lastfm_do" }}" method="post">
                <input type="submit" value="unlink">
            </form>
        {{ else }}
            <p class="text-gray-500">current status <span class="font-bold text-red-400">unlinked</span></p>
            <p class="text-xs text-gray-400">link via client app</p>
        {{ end }}
    </div>
{{ end }}

{{ component "block" (props .
    "Icon" "brain"
    "Name" "listenbrainz"
    "Desc" "scrobble to listenbrainz and compatible sites on a per user basis"
) }}
    <div class="grid grid-cols-[1fr_1fr_auto] gap-2 items-center justify-items-end">
    {{ if .User.ListenbrainzToken }}
        <p class="text-gray-500 col-span-full">current status <span class="font-bold text-green-500">linked</span></p>
        <form class="contents" action="{{ path "/admin/unlink_listenbrainz_do" }}" method="post">
            <input class="col-span-full" type="submit" value="unlink">
        </form>
    {{ else }}
        <p class="text-gray-500 col-span-full">current status <span class="font-bold text-red-400">unlinked</span></p>
        <form class="contents" action="{{ path "/admin/link_listenbrainz_do" }}" method="post">
        <input type="text" name="url" placeholder="server addr" value="{{ default .DefaultListenBrainzURL .User.ListenbrainzUrl }}">
        <input type="text" name="token" placeholder="api key" value="{{ .User.ListenbrainzToken }}">
        <input type="submit" value="update">
        </form>
    {{ end }}
    </div>
{{ end }}


{{ end }}
{{ end }}
